@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is a web app that connect with <a href="https://catfact.ninja/fact">catfact.ninja/fact</a> API. <br />
    <a asp-area="" asp-controller="Fact" asp-action="Index">Click, </a>if you want to know some facts about cats.</h2>
</div>
